<!DOCTYPE html>
<html>
<head>
	<title>demo reactjs</title>
	<script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <script src="lib/jquery.min.js"></script>
  
  <style>
    .mauvang{background-color: green;}
  </style> 
</head>
<body>


<div id="mydiv"></div>

<script src="process.js" type="text/babel"></script>


</body>
</html>
<!-- <script>
  $(document).ready(function(){
    alert(123);
  })
</script> -->
